<!-- Google Analytics -->
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-621326-122', {
    'name': 'especiales',
    'alwaysSendReferrer': true
});
// ga('create', 'UA-621326-98', 'auto');
// ga('send', 'pageview', location.pathname);
ga('especiales.send', 'pageview', location.pathname);
ga('especiales.set', 'appName', document.title);

/** Track googleA events*/
window.trackEvent = function(eventName, label, value) {
    var eventCategory = document.title
        .replace(/\s?\-\s?la\s?naci(o|ó)n(\.com)?(\.ar)?/g, "")
        .replace(/\s/g, "_");
    var eventData = {
        'hitType': 'event',
        // 'eventCategory': "especiales_calculadora_procrear_2017",
        'eventCategory': eventCategory,
        'eventAction': eventName
    };
    if (label) {
        eventData.eventLabel = label;
    }
    if (value) {
        eventData.eventValue = value;
    }
    ga('especiales.send', eventData);
}

</script>
<!-- Google Analytics -->
<!-- Begin comScore Tag -->
<script>
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "6906398" });
(function() {
    var s = document.createElement("script"),
        el = document.getElementsByTagName("script")[0];
    s.async = true;
    s.src = (document.location.protocol == "https:" ? "https://sb" : "https://b") + ".scorecardresearch.com/beacon.js";
    el.parentNode.insertBefore(s, el);
})();

</script>
<noscript>
    <img src="https://b.scorecardresearch.com/p?c1=2&c2=6906398&cv=2.0&cj=1" />
</noscript>
<!-- End comScore Tag -->

<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{title}}",
    "url": "{{url_esp}}",
    "thumbnailUrl": "{{url_img_esp}}",
    "image": {
        "@context": "https://schema.org",
        "@type": "ImageObject",
        "url": "{{url_img_esp}}",
        "height":540,
        "width":960
        },
    "author":  {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "La Nación"
        },
    "articleSection": "Elecciones 2017",
    "keywords": ["elecciones 2017"],
    "dateCreated": "<%= created %>",
    "datePublished": "<%= created %>",
    "dateModified": "{{dateModified}}",
    "publisher":  {
        "@type": "Organization",
        "name": "LA NACION",
        "url": "https://www.lanacion.com.ar/",
        "logo": {
            "@context": "https://schema.org",
            "@type": "ImageObject",
            "url": "https://static.lanacion.com.ar/v1/ln/imgs/layout/logos/logo-ln-amp.png",
            "height":41,
            "width":391
            }
        }
    }
  </script>