<title>{{title}} - lanacion.com</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <!-- for Iphone -->
    <meta name="apple-mobile-web-app-capable" content="no">
    <!-- favicon -->
    <link rel="icon" href="./favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon.ico">
    <!-- Metadata -->
    <meta name="copyright" content="2017 - LA NACION">
    <meta name="title" content="{{title}} - 16.7.2017">
    <meta name="description" content="Comparacion con las elecciones del 2015 {{social_txt}}">
    <!-- Facebook metatags -->
    <meta property="og:url" content="{{url_esp}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{title}} - LA NACION">
    <meta property="og:description" content="{{social_txt}}">
    <meta property="og:image" content="{{url_img_esp}}">
    <!-- Twitter cards -->
    <meta name="twitter:url" content="{{url_esp}}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{social_txt}}" />
    <meta name="twitter:site" content="@LANACION">
    <meta name="twitter:image" content="{{url_img_esp}}" />