<div class="modal" style="display: none;">
    <div class="txts">
        <div class="titu">CRÉDITOS</div>
        <a class="cerrar_creditos close"></a>

        <div class="cate" style="margin-top:0px">Editor de visualizaciones multiplataforma</div>
        <div class="nombre">Pablo Loscri (<a href="https://www.twitter.com/ploscri" target="_blank">@ploscri</a>)</div>

        <div class="cate">Diseño interactivo</div>
        <div class="nombre">Pablo Loscri (<a href="https://www.twitter.com/ploscri" target="_blank">@ploscri</a>)</div>

        <div class="cate">Programación</div>
        <div class="nombre">Cristian Bertelegni (<a href="https://www.twitter.com/cbertelegni" target="_blank">@cbertelegni</a>) <br> Gastón de la Llana (<a href="https://www.twitter.com/gasgas83" target="_blank">@gasgas83) </a> <br> Nicolás Rivera (<a href="https://www.twitter.com/dudenico" target="_blank">@dudenico) </a> <br> Nicolás Bases (<a href="https://www.twitter.com/nicobases" target="_blank">@nicobases) </a></div>

        <div class="cate">Coordinación periodística</div>
        <div class="nombre">Florencia Fernández Blanco (<a href="https://www.twitter.com/florfb" target="_blank">@florfb</a>)</div>

    </div>
</div>
