<!DOCTYPE html>
<html>
<head>
    <title><%= appname %> - lanacion.com</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <!-- for Iphone -->
    <meta name="apple-mobile-web-app-capable" content="no">

    <!-- favicon -->
    <link rel="icon" href="./favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon.ico">

    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="copyright" content="<%= date.getFullYear() %> - LA NACION">
    <meta name="title" content="<%= appname %> - <%= date.getDate() %>.<%= date.getMonth() %>.<%= date.getFullYear() %>">
    <meta name="description" content="<%= description %>">

    <!-- Facebook metatags -->
    <meta property="og:url" content="{URL DE ESTE ESPECIAL}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= appname %> - LA NACION">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="{URL DE LA IMAGEN PRINCIPAL}">

    <!-- Twitter cards -->
    <meta name="twitter:url" content="{URL DE ESTE ESPECIAL}"  />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= appname %>">
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:site" content="@LANACION">
    <meta name="twitter:image" content="{URL DE LA IMAGEN PRINCIPAL}" />


    <link rel="stylesheet" type="text/css" href="http://especiales.lanacion.com.ar/multimedia/proyectos/fonts/font.css">
    <link rel="stylesheet" type="text/css" href="http://especiales.lanacion.com.ar/multimedia/proyectos/fonts/icons_v1/icons.css">

    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- endbuild -->

    <% if (includeAnalytics) { -%>

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-621326-122', {
            'name':'especiales',
            'alwaysSendReferrer': true
        });
        ga('especiales.send', 'pageview', location.pathname);
        // ga('create', 'UA-621326-98', 'auto');
        // ga('send', 'pageview', location.pathname);
        ga('especiales.set', 'appName', document.title);
        /** Track googleA events*/
        window.trackEvent = function(eventName, label, value) {
            var eventCategory = document.title
                .replace(/\s?\-\s?la\s?naci(o|ó)n(\.com)?(\.ar)?/g, "")
                .replace(/\s/g, "_");
            var eventData = {
                'hitType': 'event',
                // 'eventCategory': "especiales_calculadora_procrear_2017",
                'eventCategory': eventCategory,
                'eventAction': eventName
            };
            if (label) {
                eventData.eventLabel = label;
            }
            if (value) {
                eventData.eventValue = value;
            }
            ga('especiales.send', eventData);
        }
    </script>
    <!-- Google Analytics -->

    <!-- Begin comScore Tag -->
    <script>
        var _comscore = _comscore || [];
        _comscore.push({ c1: "2", c2: "6906398" });
        (function () {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>
    <noscript>
      <img src="http://b.scorecardresearch.com/p?c1=2&c2=6906398&cv=2.0&cj=1" />
    </noscript>
    <!-- End comScore Tag -->

    <% } -%>

</head>
<body>
<div class="container clearfix" >
    <header>
        <h1><%= appname %></h1>
        <h2><%= description %></h2>
        <div class="social">
            <a class="icon-facebook-square" title="Compartilo en Facebook" href="'https://www.facebook.com/sharer/sharer.php?u=__URL__'" target="_blank" onclick="window.open(this.href, this.target, 'width=555,height=400'); return false;"></a>

            <a class="icon-twitter" title="Compartilo en Twitter" href="'http://twitter.com/?status='+ encodeURIComponent((quote.quote_txt.length > 110 ? quote.quote_txt.slice(0, 110)+'... ' : quote.quote_txt+' ') + urlShare)" target="_blank" onclick="window.open(this.href, this.target, 'width=555,height=400'); return false;"></a>
        </div>
    </header>

    <footer>
        <p>Nota:
        <br/>
        Fuente:
        </p>
        <a href="./templates/credits.html" class="btn_light ajax_modal" id="creditos">Créditos</a>
    </footer>
</div> <!-- end wrapper_all -->

<div id="append"> <!-- div for append dinamics contents... --></div>

<!-- LN LOADER -->
<div id="loader">

<div id="spinner" style="width: 60px; height: 120px; position: relative; left: 50%; top: 20%; margin-left:-30px; background: url('http://especiales.lanacion.com.ar/multimedia/proyectos/LN_loader/ln.svg') center no-repeat;"></div>
</div>
<!-- LN LOADER -->

</body>
</html>

<!-- PYM -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pym/1.2.0/pym.v1.min.js"></script>
<!-- PYM -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script>
    var opts= {lines:40,length:2,width:1,radius:25,corners:0.5,rotate:1,color:"#006998",speed:1, trail:60,shadow:false,hwaccel:false,className:"spinner",zIndex:2000000000,top:0,left:0};
    var target=document.getElementById("spinner");
    var spinner=new Spinner(opts).spin(target);
</script>

<!-- vendors -->
<% for (var i in features) { -%>
<script src="<%= vendor_links[features[i]] %>"></script>
<% } -%>


<!-- build:js -->
<script src="jsbuild/main.js"></script>
<!-- endbuild -->
