<div class="modal">
    <div class="txts">
    	<div class="titu">METODOLOGÍA</div>
        <a class="cerrar_creditos">X</a>
        <div class="nombre" style="text-align:left"><p>Los porcentajes consignados para Cambiemos en las PASO representan la suma de los 3 candidatos de la interna (Macri, Sanz y Carrió). Las cifras de las elecciones anteriores (primarias y primera vuelta) que figuran en todo el mapa corresponden al escrutinio provisorio ya que fueron los datos consignados en vivo con los que se elaboró esta aplicación.</p></div>
    </div>
</div>