/* Styles for App */
@import "includes/settings";

.container{
    overflow: hidden;
         -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

header { 
    padding: 0px;
    border-bottom: 1px solid #ccc;
    margin: 25px 0; 

}

header h1 { 
    text-align: center;
}

#images {
    position: relative;


    .img {

        padding-bottom: 5px;


        &#after {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            width: 100%;
            background: #fff;
            
        }

        // transition: all 0.3s;

        img {

            width: 100%;
        }

        .fuente {

            &.active{
                display: inline-block;
                padding: 0px 0px 30px 0px;
                //position: absolute;
                bottom: -5px;
                left: 0;
                font-family: $suecaslabthin;
                // font-family: $suecaslabmedium;
                font-size: 12px;
                text-transform: uppercase;
                color: #000;
                width: 100%;
                background: #fff;
            }

        }

        .descripcion {

            font-family: $suecaslabmedium;
            font-size: 14px;
            display: block;
            border-bottom: 1px dashed #ccc;
            padding: 15px 0;
            margin-bottom: 20px;

            &.bullet:before{
                content: ">> "
            }
        }
    }
}

/* -- switcher --- */
#switch {
    text-align: center;
    margin-bottom: 20px; 
}

$switch_w: 80px;
$switch_h: 30px;
$switch_top: 6px;
label.switcher {
    display: inline-block;
    position: relative;
    height: $switch_h;
    /*margin: 20px auto;*/
    padding: 0px 10px;
    font-family: $suecaslabmedium;
    font-size: 16px;
    border-radius:60px;
    border:1px solid #dadada;
    cursor: pointer;
    width: $switch_w;
    text-transform:uppercase;
    
    input{
        opacity: 0;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 25px;
    }

    .switcher_slide{
        width: $switch_w/2;
        height: #{$switch_h - $switch_top};
        background-color: #80c7e7;
        border-radius: 60px;
        position: absolute;
        top: 2px;
        left: $switch_top;
        border:1px solid #fff;
        transition: all 0.5s;
    }

    .opt {
        display: inline-block;
        padding: 0 5px;
        pointer-events: none;
        // color: #fff;
        z-index: 1;
        position: absolute;
        top: 9px;
        left: 3px;
        transition: all 0.5s;
    }

    .opt:last-child {
        left: auto;
        right: 15px;
        // color: #999;
        color: red;
    }

    input:checked ~ .switcher_slide{
        left: calc(100% - #{$switch_w / 2 + 7px});    
    }

    input:checked ~ .opt{ 
        // color: #000;
    }


    input:checked ~ .opt:last-child{ 
        color: #fff;
    }

    $color_span_width : 300px;
    $color_span : #667;
    $color_span_active : #80c7e7;
    span {
        color: $color_span;
        position: absolute;
        top: 7px;
        left: #{$switch_w +32px};
        transition: all 0.2s;
        display: inline-block;
        width: $color_span_width;
        text-align: left;
    }

    span.antes {
        left: -#{$color_span_width + 15px};
        color: $color_span_active;
        text-align: right;
    }

    input:checked {
            & ~ span.despues {
                color: $color_span_active;
            }
            & ~ span.antes {
                color: $color_span;
            }
        } 


}

/* -- END switcher --- */