
// paleta colores
$black: #000000;
$blue_ln: #0084B5;
$blue: #0070cd;
$red: #f14b53;

$color_default: $black;


// fuentes
$suecaslabbold: 'suecaslabbold', arial, Helvetica, sans-serif;
$suecaslabmedium: 'suecaslabmedium', georgia;
$suecaslabthin: 'suecaslabthin', georgia;


// Funciones
